* {
  margin: 0;
  padding: 0;
}

.home {
  position: absolute; 
}














#text {
  stroke-dasharray: 1668;
  animation: 3s fillSvg linear;
}

@keyframes fillSvg{
  0%{
    stroke-dashoffset:1668;
  }
  100%{
    stroke-dashoffset:0;
  }
}